<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>SpringBoot CRUD</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            th:src="@{/webjars/jquery/jquery.min.js}"></script>
</head>
<body>
<div class="jumbotron">
    <h1>Welcome</h1>
</div>
<section class="container">
    <ul class="list-group">
        <li class="list-group-item"><a href="users/list">Users</a> </li>
        <li class="list-group-item"><a href="roles/list">Roles</a> </li>
    </ul>
</section>
</body>
</html>