<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Login</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          rel="stylesheet" media="screen"/>

</head>

<style>
    body {
        background-color: lightgray;
    }
</style>

<body>
<div class="container mt-4">

    <div class="row">
        <div class="col-sm-4 offset-sm-4">
            <h2>Please sign in</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 offset-sm-4">

            <form class="form-horizontal justify-content-center" th:object="${loginForm}" th:action="@{/login}"
                  method="post">
                <div th:if="${param.error}" class="alert alert-danger">
                    <p>Invalid username and password.</p>
                </div>
                <div th:if="${param.logout}" class="alert alert-success">
                    <p>You've been logged out.</p>
                </div>
                <input type="text" class="form-control mb-1" name="username" placeholder="Username"/>
                <input type="password" class="form-control mb-3" name="password" placeholder="Password"/>
                <button type="submit" class="btn btn-primary btn-block">Sign in</button>
            </form>

        </div>
    </div>

</div>
</body>
</html>